DATA PROCESSING, CLEANING AND IMPUTATION

In [4]:
import pandas as pd

airfare = pd.read_csv("C:\\Users\Madivoli Analytics\\OneDrive\\Documents\\Projects\\Airline Analysis\\airfare_report.csv", low_memory=False)

print(airfare.head())

       tbl  Year  quarter  citymarketid_1  citymarketid_2  \
0  Table1a  2021        3           30135           33195
1  Table1a  2021        3           30135           33195
2  Table1a  2021        3           30140           30194
3  Table1a  2021        3           30140           30194
4  Table1a  2021        3           30140           30466

                            city1                          city2  airportid_1  \
0  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
1  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
2                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
3                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
4                 Albuquerque, NM                    Phoenix, AZ        10140

   airportid_2 airport_1  ...    fare  carrier_lg  large_ms  fare_lg  \
0        14112       ABE  ...   81.43          G4    1.0000    81.43
1        15304       ABE  ...  208.93          DL    0.4659   219.98
2        11259       ABQ  ...  184.56          WN    0.9968   184.44
3        11298       ABQ  ...  182.64          AA    0.9774   183.09
4        14107       ABQ  ...  177.11          WN    0.6061   184.49

  carrier_low   lf_ms  fare_low Geocoded_City1  Geocoded_City2  \
0          G4  1.0000     81.43            NaN             NaN
1          UA  0.1193    154.11            NaN             NaN
2          WN  0.9968    184.44            NaN             NaN
3          AA  0.9774    183.09            NaN             NaN
4          AA  0.3939    165.77            NaN             NaN

                 tbl1apk
0  202131013514112ABEPIE
1  202131013515304ABETPA
2  202131014011259ABQDAL
3  202131014011298ABQDFW
4  202131014014107ABQPHX

[5 rows x 23 columns]

In [14]:
airfare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 23 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tbl             245955 non-null  object
 1   Year            245955 non-null  int64
 2   quarter         245955 non-null  int64
 3   citymarketid_1  245955 non-null  int64
 4   citymarketid_2  245955 non-null  int64
 5   city1           245955 non-null  object
 6   city2           245955 non-null  object
 7   airportid_1     245955 non-null  int64
 8   airportid_2     245955 non-null  int64
 9   airport_1       245955 non-null  object
 10  airport_2       245955 non-null  object
 11  nsmiles         245955 non-null  int64
 12  passengers      245955 non-null  int64
 13  fare            245955 non-null  float64
 14  carrier_lg      244415 non-null  object
 15  large_ms        244415 non-null  float64
 16  fare_lg         244415 non-null  float64
 17  carrier_low     244343 non-null  object
 18  lf_ms           244343 non-null  float64
 19  fare_low        244343 non-null  float64
 20  Geocoded_City1  206749 non-null  object
 21  Geocoded_City2  206749 non-null  object
 22  tbl1apk         245955 non-null  object
dtypes: float64(5), int64(8), object(10)
memory usage: 43.2+ MB

In [36]:
# Dropping unnecessary columns
columns_to_drop = ["tbl", "Geocoded_City1", "Geocoded_City2", "tbl1apk"]
airfare = airfare.drop(columns=columns_to_drop)

print("Columns after dropping:", airfare.columns.tolist())

Columns after dropping: ['Year', 'quarter', 'citymarketid_1', 'citymarketid_2', 'city1', 'city2', 'airportid_1', 'airportid_2', 'airport_1', 'airport_2', 'nsmiles', 'passengers', 'fare', 'carrier_lg', 'large_ms', 'fare_lg', 'carrier_low', 'lf_ms', 'fare_low']

In [37]:
airfare.describe()

,Year,quarter,citymarketid_1,citymarketid_2,airportid_1,airportid_2,nsmiles,passengers,fare,large_ms,fare_lg,lf_ms,fare_low
count,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,244415.000000,244415.000000,244343.000000,244343.000000
mean,2008.524124,2.479153,31556.430201,32180.117086,12437.099986,13249.889525,1189.812319,299.476795,218.979587,0.665252,218.710963,0.450438,190.675939
std,8.703364,1.122149,1089.872880,1232.464184,1431.665257,1425.810159,703.143472,511.389486,82.372486,0.224635,84.674363,0.332669,73.577694
min,1993.000000,1.000000,30135.000000,30189.000000,10135.000000,10466.000000,109.000000,0.000000,50.000000,0.003800,50.000000,0.010000,50.000000
25%,2001.000000,1.000000,30721.000000,30994.000000,11193.000000,12197.000000,626.000000,21.000000,164.620000,0.480000,161.500000,0.158000,140.060000
50%,2008.000000,2.000000,31423.000000,32211.000000,12266.000000,13303.000000,1023.000000,113.000000,209.320000,0.652400,208.030000,0.360000,181.630000
75%,2016.000000,3.000000,32467.000000,33192.000000,13487.000000,14679.000000,1736.000000,339.000000,262.890000,0.871900,263.640000,0.750000,230.040000
max,2024.000000,4.000000,35412.000000,35628.000000,16440.000000,15919.000000,2724.000000,8301.000000,3377.000000,1.000000,2725.600000,1.000000,2725.600000

In [38]:
# Validating numerical data

airfare.select_dtypes ("number")

,Year,quarter,citymarketid_1,citymarketid_2,airportid_1,airportid_2,nsmiles,passengers,fare,large_ms,fare_lg,lf_ms,fare_low
0,2021,3,30135,33195,10135,14112,970,180,81.43,1.0000,81.43,1.0000,81.43
1,2021,3,30135,33195,10135,15304,970,19,208.93,0.4659,219.98,0.1193,154.11
2,2021,3,30140,30194,10140,11259,580,204,184.56,0.9968,184.44,0.9968,184.44
3,2021,3,30140,30194,10140,11298,580,264,182.64,0.9774,183.09,0.9774,183.09
4,2021,3,30140,30466,10140,14107,328,398,177.11,0.6061,184.49,0.3939,165.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245950,2024,1,35412,31703,15412,12953,665,207,278.70,0.7503,287.44,0.2359,248.46
245951,2024,1,35412,32467,15412,11697,724,277,148.69,0.8255,114.45,0.8255,114.45
245952,2024,1,35412,32467,15412,13303,724,70,330.19,0.8057,321.92,0.8057,321.92
245953,2024,1,35412,33195,15412,14112,550,178,95.65,1.0000,95.65,1.0000,95.65
245954,2024,1,35412,33195,15412,15304,550,57,330.15,0.5212,288.38,0.5212,288.38

In [39]:
# Converting city columns to string/text

columns_to_convert = ["city1", "city2"]

# Convert all at once
for column in columns_to_convert:
    airfare[column] = airfare[column].astype(str)
    
print(airfare[columns_to_convert].dtypes)

city1    object
city2    object
dtype: object

In [40]:

print(airfare.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Year            245955 non-null  int64
 1   quarter         245955 non-null  int64
 2   citymarketid_1  245955 non-null  int64
 3   citymarketid_2  245955 non-null  int64
 4   city1           245955 non-null  object
 5   city2           245955 non-null  object
 6   airportid_1     245955 non-null  int64
 7   airportid_2     245955 non-null  int64
 8   airport_1       245955 non-null  object
 9   airport_2       245955 non-null  object
 10  nsmiles         245955 non-null  int64
 11  passengers      245955 non-null  int64
 12  fare            245955 non-null  float64
 13  carrier_lg      244415 non-null  object
 14  large_ms        244415 non-null  float64
 15  fare_lg         244415 non-null  float64
 16  carrier_low     244343 non-null  object
 17  lf_ms           244343 non-null  float64
 18  fare_low        244343 non-null  float64
dtypes: float64(5), int64(8), object(6)
memory usage: 35.7+ MB
None

In [52]:
# Identify numeric columns 

numeric_columns = airfare.select_dtypes(include=['int64', 'float64']).columns


# Finding numeric columns with missing values

columns_with_missing_values = [col for col in numeric_columns if airfare[col].isna().any()]


# Imputing a summary statistics (mean)
for col in columns_with_missing_values:
    airfare[col] = airfare[col].fillna(airfare[col].mean())

print(airfare.isna().sum())

Year                 0
quarter              0
citymarketid_1       0
citymarketid_2       0
city1                0
city2                0
airportid_1          0
airportid_2          0
airport_1            0
airport_2            0
nsmiles              0
passengers           0
fare                 0
carrier_lg        1540
large_ms             0
fare_lg              0
carrier_low       1612
lf_ms                0
fare_low             0
dtype: int64

In [54]:
# Columns to fill missing values for
columns_to_replace = ["carrier_lg", "carrier_low"]

# Replace missing values in EACH column with Unkonw
for col in columns_to_replace:
    airfare[col] = airfare[col].fillna('Unknown')

print(airfare.isna().sum())

Year              0
quarter           0
citymarketid_1    0
citymarketid_2    0
city1             0
city2             0
airportid_1       0
airportid_2       0
airport_1         0
airport_2         0
nsmiles           0
passengers        0
fare              0
carrier_lg        0
large_ms          0
fare_lg           0
carrier_low       0
lf_ms             0
fare_low          0
dtype: int64

In [5]:
# Saving the cleaned DataFrame
airfare.to_csv(r"C:\Users\Madivoli Analytics\OneDrive\Documents\Projects\Airline Analysis\airfare_cleaned.csv", 
               index=False)


print(f"Data saved successfully! Shape: {airfare.shape}")

Data saved successfully! Shape: (245955, 23)